<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DB" connectionString= "Provider=Microsoft.ACE.OLEDB.12.0; Data Source = C:\Users\jhernandez\Google Drive\Programas\Panama\ExportPhotos\db\PhotoDatabase.accdb; Persist Security Info = False;" />
  </connectionStrings>
<appSettings>
  <add key="TITULO_INFORME_FOTOGRAFICO_1" value="SUMINISTRO DE MATERIALES, MANO DE OBRA, EQUIPO Y ADMINISTRACIÓN PARA LAS OBRAS DE CONSTRUCCIÓN DE QUINIENTAS (500) VIVENDAS DE INTERES SOCIAL EN LA PROVINCIA DE DARIÉN (SANTA FE Y METETÍ)"/>
  <add key="TITULO_INFORME_FOTOGRAFICO_2" value="INFORME FOTOGRAFICO"/>

  <add key="TITULO_INFORME_ELECTRICO_1" value="SUMINISTRO DE MATERIALES, MANO DE OBRA, EQUIPO Y ADMINISTRACIÓN PARA LAS OBRAS DE CONSTRUCCIÓN DE QUINIENTAS (500) VIVENDAS DE INTERES SOCIAL EN LA PROVINCIA DE DARIÉN (SANTA FE Y METETÍ)"/>
  <add key="TITULO_INFORME_ELECTRICO_2" value="RESULTADO DE INSPECCION Y PRUEBA DEL SISTEMA ELECTRICO Y DE CONTROL DE INCENDIO PARA VIVIENDA UNIFAMILIAR"/>

  <add key="TITULO_INFORME_HIDROESTATICO_1" value="SUMINISTRO DE MATERIALES, MANO DE OBRA, EQUIPO Y ADMINISTRACIÓN PARA LAS OBRAS DE CONSTRUCCIÓN DE QUINIENTAS (500) VIVENDAS DE INTERES SOCIAL EN LA PROVINCIA DE DARIÉN (SANTA FE Y METETÍ)"/>
  <add key="TITULO_INFORME_HIDROESTATICO_2" value="RESULTADO DE INSPECCION Y PRUEBA HIDROESTATICA PARA VIVIENDA UNIFAMILIAR"/>
  
  <add key="RUTA_IMAGEN" value="C:\"/>
  <add key="RUTA_INFORME" value="C:\"/>

  <add key="RUTA_IMAGENES_FIJAS" value="C:\Users\jhernandez\Google Drive\Programas\Panama\ExportPhotos\images"/>
  
  <add key="RUTA_IMAGENES_DARIEN" value="C:\fotosdarien"/>
  
  <add key="TAB" value="{TAB}{TAB}{TAB}{TAB}{TAB}{TAB}{RIGHT}"/>
 
</appSettings>
  
</configuration>